# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# open the file were the data is
df = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Identifying the number of rows and columns of the dataframe
df.shape

(4008, 11)

In [4]:
# Identifying the data types
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [5]:
# Number of open complaints is defined as an object, however it should be considered a numerical value such as integer. The same can be observed in the Customer Lifetime Value

In [6]:
# We can observe that there is a large amount of null values (nan) in our dataframe
# the number of values is quite equivalent in all the columns and represents more than half of the entry data, for that reason we cannopt drop it, because is a representative amount for 
#interpretation of results
df.isna().sum()

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [7]:
# By the previous line of code is possible to see that
df.isnull()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [8]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [9]:
# Identifying the categorical columns
categorical_columns = [col for col in df.columns if df[col].nunique() < 10]

categorical_columns

['ST',
 'GENDER',
 'Education',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class']

In [10]:
# Describe the range of values for numerical columns
numerical_columns = [col for col in df.columns if col not in categorical_columns]
numerical_columns

['Customer',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Total Claim Amount']

In [11]:
# Find the range of values for numerical columns
# We can observe that costumers with a lower income, have lower monthly premium to pay and almost no claims, this could also indicate that they have more restrictions 
#to claim in case of accident or other, than a more expensive policy would cover.
numerical_columns = ['Customer', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Total Claim Amount']

range_values = df[numerical_columns].describe().loc[['min', 'max']]

print(range_values)

      Income  Monthly Premium Auto  Total Claim Amount
min      0.0                  61.0            0.382107
max  99960.0               35354.0         2893.239678

In [12]:
# 50% will be refered to the median value
numerical_summary = df[numerical_columns].describe()
numerical_summary

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [13]:
# Due to have so many NAN values, the mean, median, variance and standard deviation results will not represent a true meaning of the results.
#Can also be calculated by:
# Calculating the mean
df.mean()

C:\Users\susy_\AppData\Local\Temp\ipykernel_11952\1661577264.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

In [14]:
# Calculating the median
df.median()

C:\Users\susy_\AppData\Local\Temp\ipykernel_11952\3794204519.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [15]:
# Calculating the variance
df.var()

C:\Users\susy_\AppData\Local\Temp\ipykernel_11952\1389441563.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

Income                  9.283860e+08
Monthly Premium Auto    2.563811e+06
Total Claim Amount      8.586498e+04
dtype: float64

In [16]:
# Calculating the standard deviation
df.std()

C:\Users\susy_\AppData\Local\Temp\ipykernel_11952\601348708.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

In [17]:
# Calculating the mode
df.mode()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,AA71604,Oregon,F,Bachelor,251459.20%,0.0,65.0,1/0/00,Personal Auto,Four-Door Car,321.6
1,AB13432,NaN,NaN,NaN,445811.34%,NaN,NaN,NaN,NaN,NaN,NaN
2,AB60627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AB72731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AB96670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1066,ZX23819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,ZX64745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,ZX86243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,ZZ91716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,ZZ97035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Calculating the quantile
df.quantile(q=[0.25, 0.5, 0.75], axis=0, numeric_only=True)

       Income  Monthly Premium Auto  Total Claim Amount
0.25  14072.0                  68.0          202.157702
0.50  36234.0                  83.0          354.729129
0.75  64631.0                 109.5          532.800000

In [19]:
# The values on the left side (0.25 , 0.50, 0.75) represent specific percentiles of the data distribution.
# for example, regarding 25% percentile and the income value, we can observate that 25% of costumers have an income less than or equal to 14,072.0.
# another example is 50% of the costumers have monthly premium auto values to pay less than or equal to 83.0.
# last example is that 75% of the costumers have total claim amounts less than or equal to 532.800000.

In [20]:
categorical_columns = [col for col in df.columns if df[col].nunique() < 10]

categorical_summary = df[categorical_columns].describe()
categorical_summary

# Regarding the state (ST), we can observe that in 1071 costumers entries, there were found 8 unique values (states) and the most frequent was Oregon
# Regarding the gender, in 954 costumers, there were found 5 types of answers, however, te most predominent with almost half of the entries was Female
# Regarding the Education, is 1071 costumers, we could find 6 different values entered, being the most frequent the Bachelor.
# Regarding the number of open complaints, in 1071 costumers, at least 830 have one open complaint
# Regarding the policy Type the most frequently chosen in 1071 costumers, between 3 options is the Personal Auto
# Regarding the vehicle Class, in 6 possible options, more than a half of the 1071 costumers selected Four-Door Car

,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,954,1071,1071,1071,1071
unique,8,5,6,6,3,6
top,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,320,457,324,830,780,576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [21]:
#Location counts
location_count = df['ST'].value_counts()
#Location sort
sorted_location = location_count.sort_values()
#Least common locations
least_common = sorted_location.head(5)
print(least_common)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [22]:
df = pd.DataFrame(df)

# Calculate the total number of policies sold for each type
policy_counts = df['Policy Type'].value_counts()

# Find the policy type with the highest number of policies sold
max_policy_type = policy_counts.idxmax()

print("Total number of policies sold for each type:")
print(policy_counts)
print(f"Policy type with the highest number of policies sold: {max_policy_type}")

Total number of policies sold for each type:
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Policy type with the highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [23]:
df = pd.DataFrame(df)

# Create two DataFrames for each policy type
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
average_income_personal_auto = personal_auto_df['Income'].mean()
average_income_corporate_auto = corporate_auto_df['Income'].mean()

print(f"Average income for Personal Auto policies: {average_income_personal_auto}")
print(f"Average income for Corporate Auto policies: {average_income_corporate_auto}")

if average_income_personal_auto < average_income_corporate_auto:
    print("Customers with Personal Auto have a lower income.")
elif average_income_personal_auto > average_income_corporate_auto:
    print("Customers with Personal Auto have a higher income.")
else:
    print("Average incomes are the same for both policy types.")

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197
Customers with Personal Auto have a lower income.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [24]:
df = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
numerical_summary = df[numerical_columns].describe()
numerical_summary

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [26]:
df_sorted = df.sort_values(by='Total Claim Amount', ascending=False)

# Search for the TOP records to identify customers with high claim amounts
top_clients = 3  # You can adjust this value as needed
high_claim_customers = df_sorted.head(top_clients)
high_claim_customers

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
888,BZ65376,Arizona,M,Bachelor,858127.87%,27689.0,239.0,1/2/00,Personal Auto,Luxury SUV,2893.239678
248,FO35655,Oregon,M,Bachelor,867222.97%,0.0,245.0,1/0/00,Corporate Auto,Luxury SUV,2345.413441
522,ZZ97035,California,M,College,2071494.04%,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442